.container {
    --highlight-green: #2cc76a;
    --highlight-red: #e54c58;
    --highlight-orange: #e58a35;
}

.header {
    width: 100%;
    background-color: #232a31;

    padding: 8px 32px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 50px;
}

.navbar-items {
    list-style: none;
    
    display: flex;
    align-items: center;

    gap: 16px;
}

.navbar-items li a {
    color: #eee;
    text-transform: uppercase;
}

button {
    color: #fff;
    cursor: pointer;
}

button:hover {
    filter: brightness(110%);
}

button:active {
    filter: brightness(90%);
}

#login-btn {
    background-color: var(--highlight-green);
    color: #fff;

    border-radius: 5px;
    padding: 8px 12px;
}

#login-btn:hover {
    filter: brightness(110%);
}

#login-btn:active {
    filter: brightness(90%);
}

.banner {
    color: #eee;
    height: 350px;
    
    background-image: url("../img/mainbanner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.banner h1 {
    color: inherit;
    font-size: 42px;
}

.banner strong{
    font-size: 20px;
}

.values ul {
    text-align: center;
    list-style: none;

    margin: 80px 40px 120px;

    display: flex;
    gap: 40px;

}

.values h3 {
    margin: 25px;
}

.values p {
    font-size: 12px;
}

.fa-shield-alt, .fa-rocket, .fa-comments{
    font-size: 40px;
}

.fa-shield-alt {
    color: var(--highlight-green);
}

.fa-rocket {
    color: var(--highlight-red);
}

.fa-comments {
    color: var(--highlight-orange);
}

.plans {
    text-align: center;

    display: flex;
    flex-direction: column;
}

.plans-header {
    margin-bottom: 100px;
}

.plans-header h2 {
    margin-bottom: 20px;
}

.plans-header strong {
    font-weight: lighter;
}

.plans ul {
    list-style: none;
}

.card-list {
    margin: auto 5%;

    display: flex;
    justify-content: space-evenly;
}

.card-green header, .card-red header {
    color: #fff;
    background-color: #202a32;

    height: 90px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 8px 8px 0 0;
}

.card-green h4, .card-red h4 {
    color: #eee;
    text-transform: uppercase;

    margin-top: 50px;
}

.card-green, .card-red {
    background-color: #e8e7ea;
    margin: auto 20px;

    flex: 1;
    max-width: 250px;

    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price {
    font-size: 12px;

    position: absolute;
    margin: -40px;

    width: 80px;
    aspect-ratio: 1/1;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card-green .price {
    background-color: var(--highlight-green);
}

.card-red .price {
    background-color: var(--highlight-red);
}

.benefits {
    font-size: 12px;
}

.benefits li {
    margin: 10px 0;
}

.card-green button, .card-red button {
    width: 100%;
    height: 50px;

    border-radius: 0 0 8px 8px;
}

.card-green button {
    background-color: var(--highlight-green);
}

.card-red button {
    background-color: var(--highlight-red);
}

.search {
    color: #eee;
    background-color: #35464d;

    margin: 80px 0;
    padding: 50px 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.search h2 {
    color: #eee;
    font-size: xx-large;
}

.search strong {
    font-weight: lighter;
}

.search input {
    width: 70%;
    height: 50px;

    padding: 5px 20px;

    border-radius: 5px;
}

.search button {
    font-size: large;

    background-color: var(--highlight-green);

    width: 180px;
    height: 50px;
    border-radius: 5px;
}

.footer {
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 30px;

    padding-bottom: 100px;
}

.footer p {
    font-size: 12px;
}

.footer form {
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 15px;
}

.footer form div {
    display: flex;

    align-items: center;
    gap: 20px;
}

.footer input {
    font-size: small;

    border: 1px solid #ccc;
    border-radius: 5px;

    padding: 10px 16px;
}

.footer textarea {
    font-size: small;

    width: 100%;
    padding: 10px 16px;

    border: 1px solid #ccc;
    border-radius: 5px;

    resize: none;
}

.footer form button {
    font-size: 14px;

    background-color: var(--highlight-green);

    padding: 12px 64px;

    border-radius: 5px;
}